form{
  border:2px solid black;
  padding:20px;
  margin:5% 10%;
  overflow:hidden;
}
input[type=submit]{
  display:none;
}
input[type=password]{
  font-size:20px;
  height:22px;
  border:1px solid black;
  width:140px;
}
input[type=password]:focus{
  border:2px solid skyblue;
}
input[type=text]{
  font-size:20px;
  height:22px;
  border:1px solid black;
  width:140px;
}
input[type=text]:focus{
  border:2px solid skyblue;
}
select{
  height:22px;
  font-size:15px;
  border:1px solid black;
}
label{
  width:100px;
  text-align:center;
  background-color:gray;
  border-top:2px solid silver;
  border-left:2px solid silver;
  border-right:2px solid black;
  border-bottom:2px solid black;
  padding:2px 20px;
  cursor:pointer;
  font-size:25px;
  font-weight:550;
  color:white;
  transition:color 1s;
}
label:hover{
  border-top:2px solid black;
  border-left:2px solid black;
  border-right:2px solid silver;
  border-bottom:2px solid silver;
}
@media(max-width:767px){
  input[type=text],input[type=password]{
    width:170px;
  }
}
